*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

/*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: Arial;
    background-color: #3498DB;
    padding: 150px;
}